doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        link(href="css/index.css" rel="stylesheet")
        title hello
            block title
    body
        include ../components/header/header
        block main
        include ../components/footer/footer


