header.header
    .logo-wrapper
        a(href='index.html' class='logo')
            img(src='../../img/logo-black.png' alt='PERCEPTION BOX')
        div(class='mob_icon hamburger hamburger--spin')
            .hamburger-box
                .hamburger-inner
    nav
        ul.navigation
            li.navigation_item: a(href='index.html') HOME
            li.navigation_item
                a(href='#') TECHNOLOGIES
                    span(class='triangle sub-menu-button')
                ul.sub-menu
                    li: a(href='#') Back-End Development
                    li: a(href='#') Front-End Development
                    li: a(href='#') Mobile Development
            li.navigation_item
                a(href='#') SERVICE MODELS
                    span(class='triangle sub-menu-button')
                ul.sub-menu
                    li: a(href='#') Dedicated Team
                    li: a(href='#') Time-&-Materials
                    li: a(href='#') Fixed Cost
                    li: a(href='#') MVP development
            li.navigation_item
                a(href='#') CLIENT'S STORIES
            li.navigation_item
                a(href='#') ABOUT US
                    span(class='triangle sub-menu-button')
            li.navigation_item
                a(href='#') PRESS ROOM
                    span(class='triangle sub-menu-button')
                ul.sub-menu
                    li: a(href='#') News
                    li: a(href='#') Blog
                    li: a(href='#') Case Studies
            li.navigation_item: a(href='#' class='connect_link') LET'S TALK!

