footer
    nav
        ul
            li
                a(href='#') HOME
            li
                a(href='#') TECHNOLOGIES
            li
                a(href='#') SERVICE MODELS
            li
                a(href='#') CLIENT'S STORIES
            li
                a(href='#') ABOUT US
            li
                a(href='#') PRESS ROOM
            li
                a(href='#') LET'S TALK!
    span © PerceptionBox, Custom Software Development Company. All rights reserved.